<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI Suite">
    <listeners>
        <listener class-name="org.tab.utils.ExtentReport.ExtentTestListener"/>
    </listeners>
    <test name="Smoke">
        <classes>
            <class name="org.tab.tests.LoginPageTest"/>
            <class name="org.tab.tests.FastGoogleMapPageTest"/>
            <class name="org.tab.tests.FastGoogleMapPageTest">
                <methods>
                    <include name="jsonReader_parallel"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>